body{
    background-color: white;
}
 

#welcome{
        height:100px;
		margin-top:20px;
		text-align:center;
		padding-left:0px;
		padding-right:0px;
}

#logo{
		font-family:samarkan;
		font-size:70px;
		color:#f5f5f0;
}

#search{
        margin-top:30px;
}

#heading{
        text-align:center;
		font-family:System;
		font-style:Bold Oblique;
}

#intro{
        height:400px;
		background-image: url("h_img/food3.jpg");
		text-align:center;
		padding-left:0px;
		padding-right:0px;
}

#sr{
	background-image:url("h_img/foot2.jpg");
}

#text{
        text-align:bottom;
		color:white;
		margin-top:250px;
}

#head{
        padding-bottom:1px;
		padding-top:1px;
}

.panel-body{
	height:163px;
}

.panel-body b{
	font-size:15px;
} 

#description{
		text-align:center;
        margin-bottom: 3px;
}

.fill {
    display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
}
.fill img {
    flex-shrink:0;
    width:100%;
	z-index: 2;
    height:250px;
}

#image1{
    padding-right: 0px;
    padding-left: -15px;
    padding-bottom: 2px;
}
#image2{
	padding-right: 0px;
    padding-left: -15px;
}

#footer{
   background:url("h_img/footer.jpg");
   height:100%;
   margin-bottom:0px;
}

#contact {
   font-size:35px;
   text-shadow: 4px 4px 5px #000000;
   color:gray;
   margin-top: 3px;
}

